extends ./_partials/_layout

block content
  header
    h1 I\'m Edwin Acevedo and I make stuff
    h3 I'm also an index!
      p Still an index. Mostly a paragraph.
      p Yet another paragraph.
  main
    h2 About me
      p Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. Wisi enim ad, minim veniam quis nostrud exerci. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam processus.
      p Decima eodem modo typi: qui nunc nobis videntur parum. Ad minim veniam quis nostrud exerci tation ullamcorper. Lobortis nisl ut aliquip ex ea commodo consequat duis autem vel eum iriure dolor in?
    h2 Work

